header{
	background: url(../img/header.jpg);
	background-size: cover;
	color: white;
}

header a, ul{
	color: white
}

.texto{
	margin: 200px 0;
}

.sep{
	border: 2px solid #F05D3F;
	width: 50px;
}

.naranja{
	border: 0;
	border-radius: 20px;
	background: #F05D3F;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
}
.menu2{
	background: #FA8D62;
}

.menu2 a, ul{
	color: #F05D3F;
}

.sobre-mi{
	background: #F05D3F;
	color: white;
	padding: 50px;
}

.navbar{
	margin: 0; !important
}

.sep2{
	border: 2px solid white;
	width: 50px;
}

.servicios{
	margin: 50px 0;
}

.icon{
	margin: 30px 0;
}

.icon .icon-container{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	line-height: 70px;
	font-size: 50px;
	color: #F05D3F;
}
.servicios i{
	margin: 20px 0;
}

.fot{
	padding: 0;
}

.contactame{
	background: black;
	color: white;
	padding: 20px;
}

.blanco{
	border: 0;
	border-radius: 20px;
	background: white;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	color: black;
}

footer{
	padding: 30px 0;
}

.icon .icon-container2{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	font-size: 50px;
	color: black;
}

.naranj{
	color: #F05D3F;
}

/*-------------------------------medias---------------------------*/

@media screen and (min-width: 300px) and (max-width: 420px) { 
	header .navbar{
		background: white;
	}	

	header .navbar-toggle{
		border: 1px solid #CCC;
	}
	
	.navbar-toggle span{
		background: black;
	}

	header a, ul{
		color: #F05D3F;
	}
}

@media screen and (max-width: 750px){
	.galeria img{
		width: 750px;
	}
}

@media screen and (max-width: 778px){
	.galeria img{
		width: 750px;
	}
}